{% extends 'base.html' %}

{% block body %}
    <h1>Todo List</h1>
    <form action="{% url 'todos:create'%}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Submit</button>
    </form>
    <hr>
    {% for todo in user.todo_set.all %}
        <h5>{{ todo.content }}</h5>
        <p>{{ todo.due_date }}</p>
        <form action="{% url 'todos:delete' todo.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
        </form>
        <hr>
    {% endfor %}
{% endblock  %}