{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
{% endblock %}

{% block content %}
    {% include 'nav.html' %}

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
            <h1>STATUS CHECK BOARD</h1>
            <h2>Check at intervals of 15 minutes.</h2>
                <div class="text-center">
                    <button id="start" class="btn btn-primary">start</button>
                    <button id="stop" class="btn btn-primary">stop</button>
                </div>
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>api</th>
                        <th>status</th>
                    </tr>
                    {% for api in apis %}
                        <tr>
                            <td id='apiid{{ api.pk }}'>{{ api.pk }}</td>
                            <td id='apiname{{ api.pk }}'><a href="" data-toggle="modal" data-target="#modal-detail" id='detail' data-id='{{ api.pk }}'>{{ api.api_name }}</a></td>
                            <td id='api{{ api.pk }}'></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

            <!-- The Modal -->
        <div class="modal fade" id="modal-detail">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                {% comment %} 클릭한 데이터 상세 정보 출력 {% endcomment %}
                {% comment %} <table>
                    <tr>
                        <th>서비스명</th>
                        <th>저작권자명</th>
                        <th>최종수정일</th>
                        <th>라이센스</th>
                        <th>다운로드수</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table> {% endcomment %}
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">다운로드</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

<script>
var showDetails = document.querySelectorAll('#detail');

for (var i = 0; i < showDetails.length; i++) {
showDetails[i].addEventListener('click', function(event){
        var targetId = event.target.dataset.id
        console.log(targetId) 
        axios.get(`/apis/${targetId}/detail`)
        .then(res => {
            console.log(res.data)
            document.querySelector('.modal-title').innerHTML = res.data.api_name
            document.querySelector('.modal-body').innerHTML = 
            '<div>최종수정일 : ' + res.data.latest_modified_date + '</div>' +
            '<div>저작권자명 : ' + res.data.copyright + '</div>' +
            '<div>라이센스 : ' + res.data.copyright_range + '</div>' +
            '<div>다운로드수 : ' + res.data.download_users + '</div>'
        })
    })
}
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // 누적값은 로컬변수를 만들어서 해야하는지?? 디비변수로 해도 되는지..?
    // settimer(일정한 시간 후 작업을 한번 실행) or setinterval(일정한 시간 간격으로 작업 수행)
    //'http://openAPI.seoul.go.kr:8088/7a414542756b316d3132377954467477/xml/ChunmanAdoptedSuggestions/1/1'

    // timer 안에 apis_loop 호출을 하려고 했으나 안됨.
    apis_loop = function(apis){
         console.log('-111-----------------------')
         console.log(apis.length)
         console.log(apis[0])
        //{% for api in data.apis %}
        
        //for(var idx = 0; idx < apis.length; idx++){
            //(function(x) {
            //    setTimeout(function() {
        console.log('------------------------')
        let api = apis[0]
        document.querySelector('#api'+api.pk).innerHTML = '';
        // console.log('{{ api.api_url }}');
        // API 서버에서 상태 확인하기
        // axios.get('{{ api.api_url }}')
        console.log(api.fields.api_url)
        axios.get(api.fields.api_url)
        .then(response => {
            //console.log(response.data);
            parser = new DOMParser();
            xmlDoc = parser.parseFromString(response.data,'text/xml');
            status_code = xmlDoc.getElementsByTagName('CODE')[0].childNodes[0].nodeValue;

            if(status_code == 'INFO-000'){
                api_status = '정상';
            } else if(status_code == 'INFO-100' ){
                api_status = '인증키오류'
            } else if(status_code == 'ERROR-500' ){
                api_status = '서버오류'
            } else if(status_code == 'ERROR-600'){
                api_status = '데이터베이스오류'
            } else if(status_code == 'ERROR-601'){
                api_status = 'SQL문장오류'
            } else {
                api_status = '비정상'
            }
            document.querySelector('#api'+api.pk).innerHTML = api.api_name;
            //DB에 상태 저장 요청하기
            axios.get(`/statuses/${api.pk}/${status_code}`)
            .then(res => {
                console.log('[' + new Date()+ ']' + api.pk +' '+ api_status +' save ' + res.data.status_check);
            })
        })
               // }, 1000*x);    
            //})(idx);
        //}
        //{% endfor %}
    }

    startCheck_first = function(){
                // api server check 를 100개씩 요청하는 부분
        for (var i=1; i<={{ apis_num_pages }}; i++){
            (function(x) {
                setTimeout(function() {
                    console.log(x);
                    // url 요청
                    axios.get(`/statuses/check/?page=${x}`)
                    .then(response => {                       
                        apis = JSON.parse(response.data.apis)     
                        for(var j = 0; j <apis.length; j++){
                            console.log(apis[j]);
                            let api = apis[j]
                            document.querySelector('#api'+api.pk).innerHTML = '';
                            axios.get(api.fields.api_url)
                            .then(response => {
                                parser = new DOMParser();
                                xmlDoc = parser.parseFromString(response.data,'text/xml');
                                status_code = xmlDoc.getElementsByTagName('CODE')[0].childNodes[0].nodeValue;

                                if(status_code == 'INFO-000'){
                                    api_status = '정상';
                                } else if(status_code == 'INFO-100' ){
                                    api_status = '인증키오류'
                                } else if(status_code == 'ERROR-500' ){
                                    api_status = '서버오류'
                                } else if(status_code == 'ERROR-600'){
                                    api_status = '데이터베이스오류'
                                } else if(status_code == 'ERROR-601'){
                                    api_status = 'SQL문장오류'
                                } else {
                                    api_status = '비정상'
                                }
                                document.querySelector('#api'+api.pk).innerHTML = api_status;
                                //DB에 상태 저장 요청하기
                                axios.get(`/statuses/${api.pk}/${status_code}`)
                                .then(res => {
                                    console.log('[' + new Date()+ ']' + api.pk +' '+ api_status +' save ' + res.data.status_check);
                                })
                            })
                        }
                    })                    
                }, 20000*x); // page 호출 주기 20 초
            })(i);
        }
    }

    startCheck = function(){
        var api_status = '';
        playCheck = setInterval(function(){
            // api server check 를 100개씩 요청하는 부분
            for (var i=1; i<={{ apis_num_pages }}; i++){
                (function(x) {
                    setTimeout(function() {
                        console.log(x);
                        // url 요청
                        axios.get(`/statuses/check/?page=${x}`)
                        .then(response => {                       
                            apis = JSON.parse(response.data.apis)     
                            for(var j = 0; j <apis.length; j++){
                                console.log(apis[j]);
                                let api = apis[j]
                                document.querySelector('#api'+api.pk).innerHTML = '';
                                axios.get(api.fields.api_url)
                                .then(response => {
                                    parser = new DOMParser();
                                    xmlDoc = parser.parseFromString(response.data,'text/xml');
                                    status_code = xmlDoc.getElementsByTagName('CODE')[0].childNodes[0].nodeValue;

                                    if(status_code == 'INFO-000'){
                                        api_status = '정상';
                                    } else if(status_code == 'INFO-100' ){
                                        api_status = '인증키오류'
                                    } else if(status_code == 'ERROR-500' ){
                                        api_status = '서버오류'
                                    } else if(status_code == 'ERROR-600'){
                                        api_status = '데이터베이스오류'
                                    } else if(status_code == 'ERROR-601'){
                                        api_status = 'SQL문장오류'
                                    } else {
                                        api_status = '비정상'
                                    }
                                    document.querySelector('#api'+api.pk).innerHTML = api_status;
                                    //DB에 상태 저장 요청하기
                                    axios.get(`/statuses/${api.pk}/${status_code}`)
                                    .then(res => {
                                        console.log('[' + new Date()+ ']' + api.pk +' '+ api_status +' save ' + res.data.status_check);
                                    })
                                })
                            }
                        })                    
                    }, 20000*x); // page 호출 주기 20 초
                })(i);
            }
        }, 60 * 60000); //전체 반복 루틴 주기 15분 15 * 60000
    };

    stopCheck = function(){
        clearInterval(playCheck);
    };

    var startButton = document.querySelector('#start')
    startButton.addEventListener('click', function(event){
        console.log('start check.......!')
        startCheck_first();
        startCheck();
    })

    var stopButton = document.querySelector('#stop')
    stopButton.addEventListener('click', function(event){
        console.log('stop check.......!')
        stopCheck();
    })

</script>
{% endblock content %}

{% block script %}
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  {% comment %} <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script> {% endcomment %}
{% endblock  %}