{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
{% endblock  %}

{% block content %}
  {% include 'nav.html' %}
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper" style="height:100%">
        <div class="row d-flex justify-content-center">
          <div class="card" style="width:90%;">
            <div class="card-body">
              <h3 class="mb-3" style="margin-top:30px; font-family: 'Noto Sans KR', sans-serif;">{{ user.username }} 님, 환영합니다!</h3>
                <h4 style="margin-top:80px;">Download API File</h4>
                <table class="table" style="margin-bottom:50px; text-align:center; font-family: 'Noto Sans KR', sans-serif;">
                  <thead>
                    <tr>
                      <th>
                        API Name
                      </th>
                      <th>
                        Last Update
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for api in download_apis %}
                      <tr>
                        <td class="text-center">
                          <a href="" class="text-decoration-none" data-toggle="modal" data-target="#modal-detail" id='detail' data-id='{{ api.pk }}'>{{ api.api_name }}</a>
                        </td>
                        <td class="text-center">
                          {{ api.latest_modified_date }}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
{% endblock  %}

{% block script %}
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock  %}